.categories-glass {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  text-align: left;
  color: white;
  font-family: "Poppins", sans-serif;
}

.categories-title {
  font-size: 32px;
  margin-bottom: 24px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  cursor: pointer;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.category-card:hover {
  transform: translateY(-6px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.category-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-svg {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 10px;
  padding:5px;
  margin-bottom: 12px;
}

.category-name {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.category-card.active {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
}